<% wrap_layout :layout do %>
<div class="blogpost row">

  <% if current_page.data.masthead %>
    <div class="small-12 columns">
      <div class="blogpost__masthead">
        <%= image_tag current_page.data.masthead %>
      </div>
    </div>
  <% end %>

  <div class="small-12 columns">
    <div class="blogpost__content">
      <h1><%= current_page.data.title %></h1>
      <h6>Posted on <%= current_page.date.strftime('%B %d, %Y') %></h6>
      <%= yield %>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="blogpost__voyage card">
      <h6>The Voyage:</h6>
      <dl>
        <dt>Departure Port</dt>
        <dd><%= current_page.data.voyage.departure %></dd>
        <dt>Destination Port</dt>
        <dd><%= current_page.data.voyage.destination %></dd>
        <dt>Distance</dt>
        <dd><%= current_page.data.voyage.distance %>nm</dd>
        <dt>Weather</dt>
        <dd><%= current_page.data.voyage.weather %></dd>
      </dl>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="blogpost__crew card">
      <h6>The Crew:</h6>

      <% current_page.data.voyage.crew.each do |crew_id| %>
        <% link_to('/crew.html#' + crew_id) do %>
        <%= image_tag data.crew[crew_id].image, :class => "blogpost__crew-img", :title => data.crew[crew_id].name %>
        <% end %>
      <% end %>
      <hr>
      <dl>
        <dt>Eat</dt>
        <dd>The Devon and Cornwall.</dd>
        <dt>Drank</dt>
        <dd>Doombar.</dd>
        <dt>Notes</dt>
        <dd>Found a new curry house</dd>
      </dl>
    </div>
  </div>
</div>
<% end %>
